.headerblock {
  margin-top: 1em;
  display: table;
  width: 100%; }
  .headerblock .header-left-side {
    font: 3em Arial;
    padding: 0.2em; }
  .headerblock .header-right-side {
    padding: 0.2em;
    text-align: right; }

.bodyblock .leftnav {
  padding: 0.2em;
  border: 1px solid lightgray; }
.bodyblock .contentblock {
  padding: 0.2em;
  border: 1px solid lightgray; }

.footerblock .copyright {
  font: .8em Arial;
  text-align: right;
  font-style: italic; }
