
$blockpadding: .2em;

@mixin borderstyle {
	border: 1px solid lightgray;
}

// content style

.headerblock {
	margin-top: 1em;
	display: table;
	width:100%;

	.header-left-side {
		font: 3em Arial;
		padding: $blockpadding;
	}
	.header-right-side {
		padding: $blockpadding;
		text-align: right;
	}
}

.bodyblock {
	.leftnav {
		padding: $blockpadding;
		@include borderstyle;
	}
	.contentblock {
		padding: $blockpadding;
		@include borderstyle;
	}
}

.footerblock {
	.copyright {
		font: .8em Arial;
		text-align: right;
		font-style: italic;
	}
}
